{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a href="/user/add" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"
                                                              aria-hidden="true"></span> 新建用户</a>
             <a href="/user/add/model_form" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"
                                                              aria-hidden="true"></span> 新建模板用户</a>
        </div>


        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 用户列表</div>
            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>密码</th>
                    <th>年龄</th>
                    <th>余额</th>
                    <th>入职时间</th>
                    <th>性别</th>
                    <th>所属部门</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for user in userlist %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.account }}</td>
                        <td>{{ user.create_time|date:'Y-m-d' }}</td>
                        <td>{{ user.get_gender_display }}</td>
                        <td>{{ user.depart.title }}</td>

                        <td>
                            <a href="/user/{{ user.id }}/edit" class="btn btn-primary btn-xs">编辑</a>
                            <a href="/user/delete/?nid={{ user.id }}" class="btn btn-danger btn-xs">删除</a>
                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>

    </div>

{% endblock %}